#root {
  
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.navigation-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.app-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
}

.left-column,
.right-column {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
}

.week2-container {
  display: flex;
  flex-direction: column;
  position: relative; /* Position relative for z-index to work */
}

.image {
  width: 50px;
  height: 50px;
  margin-bottom: 30vh; /* adjust margin as needed */
}

.image1 {
  width: 100px;
  height: 100px;
  margin-bottom: -50px; /* Adjust margin as needed to overlap with Week2 */
  z-index: 1; /* Ensure Image1 appears above Week2 */
}

.navigation-container {
  display: flex;
  align-items: center;
}


.left-navigation,
.right-navigation {
  width: 50px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}

.navigation-button {
  margin: 0 10px; /* Adjust as needed */
}

.week2-container > div {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.week2-container > div > img {
  margin: 0 5px;
}

.left-image {
  position: absolute;
  left: 0;
}

.middele-div {
  position: relative;
  left: 40%;
}

.right-image {
  position: absolute;
  right: 0;
}

